/node_modules
/public/hot
/public/storage
/public/telegram-files
/public/games-files
/storage/*.key
/storage/telegram/*
/storage/reports/*
/vendor
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
laravel-echo-server.json
laravel-echo-server.lock
/public/mix-manifest.json
.DS_Store
/public/css/*
/public/js/*
/public/wv/*
/public/sl/*
/laradock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
